<hr>
<h2>Seleccionar o crear un género</h2>
<h3>Lista de Géneros</h3>
<hr>


<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let genre of Genre">
            <td><img [src]="genre.imageURL" alt="" width = 100 height = 100></td>
            <td>{{genre.name}}</td>
            <td>{{genre.author}}</td>
            <td>
                <!--<button routerLink="/albumedit/{{album.id}}" class="btn btn-outline-secondary">Actualizar</button>-->
                <button (click)="getGenreData(genre)" class="btn btn-outline-danger" >Seleccionar</button>
                
            </td>

        </tr>
    </tbody>
    
</table>

<div class="d-grid gap-2 button">
    <button (click)="redirect()" class="btn btn-primary button" type="button">Crear nuevo género</button>
</div>
