<h2>Edita el album musical</h2>
<form [formGroup]="albumEditForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
        <label class="form-label">Nombre del genero musical</label>
        <input formControlName="name" type="text" class="form-control" required>
    </div>
    <div class="mb-3">    
        <label class="form-label">Autor</label>
        <input formControlName="year" type="number" class="form-control" required>
    </div>  
    
    <button type="submit" class="btn btn-primary">Update</button>        
    
</form>
