  <div class="card card_title">
    <div class="card-head"><h2>Registrar un nuevo artista/ciudadano</h2></div>
    <div class="card-body">
        En este apartado se puede registrar un usuario ya sea artista o ciudadano con los siguientes campos. 
    </div>
</div>
<br>
<form [formGroup]="userForm" (ngSubmit)="register()" novalidate>
    <div class="mb-3">
      <label class="form-label">Correo</label>
      <input formControlName="mail" type="email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input formControlName="password" type="password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input formControlName="name" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Fecha de nacimiento</label>
      <input formControlName="birthdate" type="date" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Rol</label>
      <input formControlName="rol" type="text" class="form-control" required>
    </div>

    <button (click)="redirect()" class="btn btn-primary button" type="button">Login</button>
    
    <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary button" >Registrar</button>
        
    
</form>