<div class="card card_title">
    <div class="card-head"><h2>Selecciona o crear playlist</h2></div>
    <div class="card-body">
        En este apartado se presentan playlists, los cuales pueden ser seleccionadas para agregar canciones. 
    </div>
</div>
<button (click)="redirect()" class="btn btn-primary button" type="button">Volver a lista de géneros</button>
<form [formGroup]="playlistForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
        <label class="form-label">Nombre de la nueva Playlist</label>
        <input formControlName="playlist_name" type="text" class="form-control" required>
    </div>
    <button [disabled]="!playlistForm.valid" type="submit" class="btn btn-primary button" >Guardar</button>
</form>
<table class="table table-responsive table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Nombre Playlist</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let playlist of Playlist">   
            <td>{{playlist.playlist_name}}</td>
            <td>
                <button (click)="getPlaylistProperties(playlist)" class="btn btn-outline-secondary" >Seleccionar</button>
            </td>
        </tr>
    </tbody>
    
</table>


