<div class="btndoc">
  <button (click)="documentation()" class="btn btn-info button" type="button">Documentación</button>
</div>
<div class="card">
  <div class="card-head"><h2>Cambiar contraseña</h2></div>
  <div class="card-body">
      En este apartado se puede reestablecer la contraseña mediante el ingreso del correo, consecuentemente se envia un enlace para reestablecer la contraseña al correo ingresado.
  </div>
  
</div>
<br>
<div class="col d-flex justify-content-center">
  <div class="card cardProfile" style="width: 22rem;">
    <form>
      <div class="mb-3">
        <h4 class="text-dark text-muted">Reestablecer contraseña</h4>
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleInputEmanil1" class="form-label">Ingrese su correo</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="email">
      </div>
      <br>
      <button routerLink="/login" class="btn btn-secondary button" type="button">Regresar a Inicio de Sesión</button>
      <button class="btn btn-primary button" type="button" (click)="forgotPassword()">Reestablecer contraseña</button>
      
    </form>
  </div>
</div>
          