<div class="btndoc">
    <button (click)="documentation()" class="btn btn-info button" type="button">Documentación</button>
</div>
<div class="card card_title">
    <div class="card-head"><h2>Lista de géneros</h2></div>
    <div class="card-body">
        En este apartado se presentan géneros, estos al ser seleccionados, presentarán todas las canciones que concidan con el género. 
    </div>
</div>
<div class="d-grid gap-2 button">
    <button (click)="canciones()" class="d-grid gap-2 button btn btn-secondary" >Canciones</button>
    <button (click)="getAlbums()" class="btn btn-primary button" type="button">Albumes</button>
</div>
<input type="text"
        class="form-control mb-2"
        placeholder="Buscar géneros musicales"
        #txtSearch
        (keyup)="searching( txtSearch.value )" />


<button class="btn btn-outline-secondary mb-2"
        (click)="prevPage()">
    Anteriores
</button>
&nbsp;
<button class="btn btn-outline-secondary mb-2"
        (click)="nextPage()"
        [disabled]="(Genre | filtroGeneros:page:search).length === 0">
    Siguientes
</button>
<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Autor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let genre of Genre | filtroGeneros:page:search">
            <td><img [src]="genre.imageURL" alt="" width = 100 height = 100></td>
            <td>{{genre.name}}</td>
            <td>{{genre.author}}</td>
            <td>
                <button (click)="getSongs(genre)" class="btn btn-outline-danger" >Canciones</button>               
            </td>
        </tr>
    </tbody>
</table>

