<div class="d-grid gap-2 button">
    <button (click)="documentation()" class="btn btn-info button" type="button">Documentación</button>
</div>
<div class="card card_title">
    <div class="card-head"><h2>Lista de Álbumes</h2></div>
    <div class="card-body">
        En este apartado se presentan álbumes . 
    </div>
</div>
<div class="d-grid gap-2 button">
    <button (click)="redirect()" class="btn btn-primary button" type="button">Géneros</button>
</div>
<input type="text"
        class="form-control mb-2"
        placeholder="Buscar géneros musicales"
        #txtSearch
        (keyup)="searching( txtSearch.value )" />


<button class="btn btn-outline-secondary mb-2"
        (click)="prevPage()">
    Anteriores
</button>
&nbsp;
<button class="btn btn-outline-secondary mb-2"
        (click)="nextPage()"
        [disabled]="(Album | filtroAlbumes:page:search).length === 0">
    Siguientes
</button>
<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Año</th>
            <th>Género</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let album of Album | filtroAlbumes:page:search">
            <td><img [src]="album.imageURL" alt="" width = 100 height = 100></td>
            <td>{{album.name}}</td>
            <td>{{album.year}}</td>
            <td>{{album.genre_name}}</td>
            
            <td>
                <button (click)="getAlbumData(album)" class="btn btn-outline-danger" >Canciones</button>
            </td>
        </tr>
    </tbody>
</table>

