<hr>
<h3>Lista de Canciones</h3>
<hr>
<div class="d-grid gap-2 button">
    <button (click)="redirect()" class="btn btn-secondary button" type="button">Albumes</button>
    <button (click)="favoritos()" class="btn btn-primary button" type="button">Favoritos</button>
</div>
<input type="text"
        class="form-control mb-2"
        placeholder="Buscar canciones"
        #txtSearch
        (keyup)="searching( txtSearch.value )" />


<button class="btn btn-outline-secondary mb-2"
        (click)="prevPage()">
    Anteriores
</button>
&nbsp;
<button class="btn btn-outline-secondary mb-2"
        (click)="nextPage()"
        [disabled]="(Song | filtroCanciones:page:search).length === 0">
    Siguientes
</button>
<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Álbum</th>
            <th>Año</th>
            <th>Canción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let song of Song | filtroCanciones:page:search">
            <td><img [src]="song.imageURL" alt="" width = 100 height = 100></td>
            <td>{{song.song_name}}</td>
            <td>{{song.genre_name}}</td>
            <td>{{song.album_name}}</td>
            <td>{{song.year}}</td>
            <td><audio [src]="song.songURL" controls></audio></td>
            <td>
                <button (click)="addToFavorite(song)" class="btn btn-outline-danger" >Agregar a favoritos</button>
            </td>
        </tr>
    </tbody>
</table>


