<h2>Genera un Álbum musical</h2>
<form [formGroup]="songForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
        <label class="form-label">Nombre de la canción</label>
        <input formControlName="song_name" type="text" class="form-control" required>
    </div>
    
    <div class="add">
        <label class="form-label">Agregar la canción</label>
        <br>
        <input 
            type="file"
            #file
            class="input-file"
            (change)="onFilesAdded($event.target)"     
        />
        <br>
        <audio [src]="url" controls></audio>
        
    </div>

    <button (click)="redirect()" class="btn btn-primary button" type="button">Lista de albumes</button>
    
    <button [disabled]="!songForm.valid" type="submit" class="btn btn-primary button" >Save</button>
        
    
</form>