<div class="btndoc">
  <button (click)="documentation()" class="btn btn-info button" type="button">Documentación</button>
</div>
<div class="card card_title">
    <div class="card-head"><h2>Perfil de usuario</h2></div>
    <div class="card-body">
        En este apartado se presenta el perfil actual de usuario. 
    </div>
</div>
<br>

<div class="col d-flex justify-content-center">
    <div class="card cardProfile" style="width: 18rem;">
        <img src={{usuario.imageURL}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            
            <b>Rol: </b>{{rolUser}}
          </h5>
          <p class="card-text">
            
            <b>Nombre: </b>{{usuario.name}}
            <br>
            <b>Cumpleaños: </b>{{usuario.birthdate}}
            
          </p>
        </div>
        <button (click)="editar()" class="btn btn-primary profilebutton">Editar Perfil</button>
        
        <button (click)="showGenre()" class="btn btn-primary profilebutton">{{redirection}}</button>
        
        <button (click)="logout()" class="btn btn-secondary profilebutton">Cerrar Sesión</button>
    </div>
    
</div>



