<div class="d-grid gap-2 button">
    <button (click)="documentation()" class="btn btn-info button" type="button">Documentación</button>
</div>

<div class="card card_title">
    <div class="card-head"><h2>Lista de favoritos</h2></div>
    <div class="card-body">
        En este apartado se presenta la lista de canciones favoritas. 
    </div>
</div>
<div class="d-grid gap-2 button">
    <button (click)="redirect()" class="btn btn-secondary button" type="button">Canciones</button>
    <button (click)="playlist()" class="btn btn-primary button" type="button">Playlist</button>
</div>
<input type="text"
        class="form-control mb-2"
        placeholder="Buscar canciones"
        #txtSearch
        (keyup)="searching( txtSearch.value )" />


<button class="btn btn-outline-secondary mb-2"
        (click)="prevPage()">
    Anteriores
</button>
&nbsp;
<button class="btn btn-outline-secondary mb-2"
        (click)="nextPage()"
        [disabled]="(FavoriteSongs | filtroCanciones:page:search).length === 0">
    Siguientes
</button>
<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Álbum Name</th>
            <th>Año</th>
            <th>Canción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let favorite of FavoriteSongs | filtroCanciones:page:search">
            <td><img [src]="favorite.imageURL" alt="" width = 100 height = 100></td>
            <td>{{favorite.song_name}}</td>
            <td>{{favorite.genre_name}}</td>
            <td>{{favorite.album_name}}</td>
            <td>{{favorite.year}}</td>
            <td><audio [src]="favorite.songURL" controls></audio></td>   
            <td>
                <button (click)="quitFromFavorite(favorite)" class="btn btn-outline-danger" >Quitar de Favoritos</button>
            </td>
        </tr>
    </tbody> 
</table>

