
<div class="card card_title">
    <div class="card-head"><h2>Selecciona o crea un álbum</h2></div>
    <div class="card-body">
        En este apartado se puede crear o seleccionar un álbum creado previamente para continuar con el proceso de subir canciones. 
    </div>
</div>

<div class="d-grid gap-2 button">
    <button (click)="redirect()" class="btn btn-primary button" type="button">Crear nuevo álbum</button>
</div>

<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Año</th>
            <th>Género</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let album of Album">
            
            <td><img [src]="album.imageURL" alt="" width = 100 height = 100></td>
            <td>{{album.name}}</td>
            <td>{{album.year}}</td>
            <td>{{album.genre_name}}</td>
            
            <td>
                <button (click)="getAlbumData(album)" class="btn btn-outline-danger" >Seleccionar</button>
                
            </td>

        </tr>
    </tbody>
    
</table>

