<div class="card card_title">
  <div class="card-head"><h2>Iniciar Sesión</h2></div>
  <div class="card-body">
      En este apartado el usuario puede iniciar sesión ingresando con su correo y contraseña previamente registrados. 
  </div>
</div>
<br>
<form [formGroup]="userForm" (ngSubmit)="login()" novalidate>
  <div class="mb-3">
    <label class="form-label">Correo</label>
    <input formControlName="mail" type="email" class="form-control" required>
    <label class="error"  *ngIf="emptyemail" >{{emptyFields("mail")}}</label>

  </div>
  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    <input formControlName="password" type="password" class="form-control" required>
    <label class="error"  *ngIf="emptyPassword" >{{emptyFields("password")}}</label>

  </div>

  <button routerLink="/register" class="btn btn-primary button" type="button">Registrar</button>
  <button routerLink="/forgotPassword" class="btn btn-primary button" type="button">Reestablecer contraseña</button>
  
  <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary button" >Iniciar sesión</button>
      
  
</form>


