<div class="card">
    <div class="card-head"><h2>Lista de canciones</h2></div>
    <div class="card-body">
        En este apartado se visualiza las canciones pertenecientes álbum creado. 
    </div>
</div>
<div class="d-grid gap-2 button">
    <button (click)="redirect()" class="btn btn-primary button" type="button">Agregar canción</button>
    <button (click)="showAllSongs()" class="btn btn-secondary button" type="button">Mostrar todas las canciones</button>
</div>
<input type="text"
        class="form-control mb-2"
        placeholder="Buscar canciones"
        #txtSearch
        (keyup)="searching( txtSearch.value )" />


<button class="btn btn-outline-secondary mb-2"
        (click)="prevPage()">
    Anteriores
</button>
&nbsp;
<button class="btn btn-outline-secondary mb-2"
        (click)="nextPage()"
        [disabled]="(Song | filtroCanciones:page:search).length === 0">
    Siguientes
</button>
<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Álbum</th>
            <th>Año</th>
            <th>Canción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let song of Song | filtroCanciones:page:search">
            <td><img [src]="song.imageURL" alt="" width = 100 height = 100></td>
            <td>{{song.song_name}}</td>
            <td>{{song.genre_name}}</td>
            <td>{{song.album_name}}</td>
            <td>{{song.year}}</td>
            <td><audio [src]="song.songURL" controls></audio></td>
            <td>
                <button (click)="deleteSong(song)" class="btn btn-outline-danger" >
                    <mat-icon>delete</mat-icon>
                </button>
                <button (click)="updateSong(song)" routerLink="/updateSong/{{song.id}}" class="btn btn-outline-secondary">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>  
</table>

