<div class="card card_title">
    <div class="card-head"><h2>{{playlist.playlist_name}}</h2></div>
    <div class="card-body">
        En este apartado se presentan las canciones pertenecientes a la playlist <b>{{playlist.playlist_name}}</b>. 
    </div>
</div>
<div class="d-grid gap-2 button">
    <button (click)="showPlaylist()" class="btn btn-primary button" type="button">Albumes</button>
</div>
<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Genre Name</th>
            <th>Song</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let song of Song">
            <td><img [src]="song.imageURL" alt="" width = 100 height = 100></td>
            <td>{{song.song_name}}</td>
            <td>{{song.genre_name}}</td>
            <td><audio [src]="song.songURL" controls></audio></td>
            <td>
                <button (click)="deleteSong(song.id)" class="btn btn-outline-danger" >Eliminar</button>                
            </td>
        </tr>
    </tbody>
</table>

