<div class="card card_title">
    <div class="card-head"><h2>Visualiza playlists</h2></div>
    <div class="card-body">
        En este apartado se presentan playlists, los cuales pueden ser seleccionadas para visualizar sus canciones. 
    </div>
</div>
<div class="d-grid gap-2 button">
    <button (click)="favoritos()" class="btn btn-secondary button" type="button">Favoritos</button>
    <button (click)="redirect()" class="btn btn-primary button" type="button">Crear nueva Playlist</button>
</div>
<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let playlist of Playlist">
            <td>{{playlist.playlist_name}}</td>
            <td>
                <button (click)="getPlaylistProperties(playlist)" 
                routerLink="/showPlaylistSongs/{{playlist.id}}" class="btn btn-secondary">Canciones</button>
            </td>
        </tr>
    </tbody>
</table>



