/* You can add global styles to this file, and also import other style files */
.add {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
.add > * {
    margin: 10px 0;
}
.button{   
    margin: 15px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.codigo{
    background-color: black;
    color: white;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    justify-content: left;
    border-radius: 20px;
    overflow-x: auto;
    padding: 30px;
    
    
}

.imgCodigo{
    height: 600px;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    justify-content: left;
    border-radius: 20px;
    overflow-x: auto;
    padding: 30px;
}

.card{
    margin-top: 30px;
    padding: 15px;
}
.card_title{
    margin-top: 0px;
    padding: 15px;
}
.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardProfile{
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
.error{
    color: red;
 }
 .red{
    border-color: red; 
 }