<div class="d-grid gap-2 button">
    <button (click)="documentation()" class="btn btn-info button" type="button">Documentación</button>
</div>
<div class="card">
    <div class="card-head"><h2>Candidatos a Artistas</h2></div>
    <div class="card-body">
        En este apartado se muestran los candidatos a artistas y artistas aprobados. 
    </div>
</div>
<div class="d-grid gap-2 button">
    <button (click)="profile()" class="d-grid gap-2 button btn btn-secondary" >Perfil</button>
</div>
<br>
<h3>Candidatos a artistas</h3>
<br>
<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Nombre</th>
            <th>Cumpleaños</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let artist of Artist">
            <td>{{artist.name}}</td>
            <td>{{artist.birthdate}}</td>
            <td>{{artist.mail}}</td>
            <td>
                <button (click)="convertToArtist(artist)" class="btn btn-outline-danger">Aprobar solicitud</button>
            </td>
        </tr>
    </tbody>
</table>
<br>
<h3>Artistas</h3>
<br>
<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let artist of NoArtist">
            <td>{{artist.name}}</td>
            <td>{{artist.birthdate}}</td>
            <td>{{artist.mail}}</td>
        </tr>
    </tbody>
</table>


