<div class="card card_title">
    <div class="card-head"><h2>Selecciona canciones para la playlist</h2></div>
    <div class="card-body">
        En este apartado se presentan canciones, los cuales pueden ser seleccionadas para agregarse a la playlist. 
    </div>
</div>
<button (click)="showAllSongs()" class="btn btn-secondary button" type="button">Inicio</button>
<input
  #identificador    
  type="text"
  placeholder="Buscar canciones"          
  autocomplete="off"    
/>
<button  
  class="btn btn-primary button"
  type="button"  
  (click)="setSearch(identificador.value)"
>
Buscar Canción
</button>
<button (click)="onSubmit()" class="btn btn-primary button" type="button">Finalizar</button>
<table class="table table-responsive table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Imagen</th>
            <th [width]="50">Autor</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Canción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let song of Song">
            <td><img [src]="song.imageURL" alt="" width = 100 height = 100></td>
            <td>{{song.author}}</td>
            <td>{{song.song_name}}</td>
            <td>{{song.genre_name}}</td>
            <td><audio [src]="song.songURL" controls></audio></td>
            <td>
                <button (click)="addSongPlaylist(song.id)" class="btn btn-outline-secondary" >+</button>
            </td>
        </tr>
    </tbody>
</table>



