<div class="d-grid gap-2 button">
    <button (click)="documentation()" class="btn btn-info button" type="button">Documentación</button>
</div>
<div class="card card_title">
    <div class="card-head"><h2>Crea un Género musical</h2></div>
    <div class="card-body">
        En este apartado se puede crear un género musical completanto los siguientes campos. 
    </div>
</div>
<br>
<form [formGroup]="genreForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
        <label class="form-label">Nombre del género musical </label>
        <input pattern="^[a-zA-Z\u00F1\u00D1\u00E0-\u00FC\s]+$" formControlName="name" type="text" class="form-control" required>
        <label class="error"  *ngIf="genero_nuevo_no_valido" >{{getErrorMessage_genero_nuevo()}}</label>
    </div>
    <div class="add">
        <img (click)="addFiles()" class="upload" [src]="url" alt="" width="150" />
        <input 
            type="file"
            #file
            class="input-file" accept="image/*"
            (change)="onFilesAdded($event.target)"     
        />
    </div>
    <button (click)="redirect()" class="btn btn-primary button" type="button">Volver a lista de géneros</button>
    <button [disabled]="!genreForm.valid" type="submit" class="btn btn-primary button" >Save</button>
</form>